.landlord_sidebar {
    background-color: var(--secondary);
    color: var(--bg);
    padding: 24px;
    max-width: 210px;
    min-height: 100vh;
    
    .logo_header {
        width: 120px;
        text-align: center;
        margin-bottom: 40px;

        img {
            height: 28px;
        }

        p{
            font-size: 12px;
            color: #94A3B8;
        }
    }

.landlord_sidebar_link {
    display: flex;
    flex-direction: column;
    gap: 10px;

        ul {
            display: flex;
            flex-direction: column; 
            align-items: left;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul li {
            display: inline-flex; 
            align-items: center;
            cursor: pointer;
        }    

        .sidebar-item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px;
            border-radius: 8px;
            cursor: pointer;
            color: var(--bg);
            transition: 0.3s;
            font-weight: 500;
            width: 190px;

            &:hover {
                background-color: #131516;
                width: 100%;
                border-radius: 8px; 
                width: 190px;    
                color: var(--primary);           
            }
        }
        .active {
            color: var(--primary);
            background-color: var(--primary);
            border-radius: 8px;

            &:hover {
              background-color: var(--primary); 
            }
        }
    }
}

.dashboard_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--bg);
    box-shadow: rgba(0, 0, 0, 0.8) 0 4px 6px -2;
    border-bottom: 0.5px solid var(--border);

    .dashboard_header_right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .notification_icon {
            background-color: #f0fff7;
            display: inline-flex;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            color: var(--primary);
            cursor: pointer;
        }

        .profile_icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
            cursor: pointer;
            background-color: #f7f7f7;
            padding: 20px;
            cursor: pointer;
            border-radius: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            }

        }
    }
}   

.landlord {
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    min-height: 100vh;

    h2 {
        font-size: 36px;
    }
}

.landlord_body_left {
    position: fixed;
    top: 0;
    left: 0;
}

.landlord_body_right {
    width: 100%;
    margin-left: 260px;

    .landlord_dashboard_header {
        position: fixed;
        top: 0;
        left: 10px;
        bottom: 0;
        height: 80px;
        z-index: 1000;
        margin-left: 260px;
        right: 0px;
    }

    .landlord_body {
        margin-top: 80px;
        padding: 24px;
        overflow-y: auto;
        height: calc(100vh - 80px);


    .landlord_metrics {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;

        .revenue_metrics {
            width: 40%;
        }

        .default_metrics {
            width: 24%;

            .insight_card {
                background-color: var(--primary);
                height: 120px;
                padding: 24px;
                border-radius: 12px;
                color: var(--bg);
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                
                h3 {
                    margin-top: 0;
                }

                .insight_icon a {
                    display: inline-flex;
                    align-items: center;
                    color: var(--bg);
                    background-color: rgba(255, 255, 255, 0.2);
                    padding: 14px;
                    border-radius: 100px;
                }
            }
        }
    }

    .recent_activities {
        margin-top: 40px;
        
        .activities_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
}

.landlord_property_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin: 0px;
        margin-bottom: 4px;
        color: var(--text-h);
    }

    .action_btn {
        background-color: var(--border);
    }


    .landlord_property_header_left Button {
        height: 44px;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;      
    }


}